<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns="http://www.w3.org/ns/widgets" 
        xmlns:tizen="http://tizen.org/ns/widgets" 
        id="http://yourdomain.com/digital-signage" 
        version="1.0.0" 
        viewmodes="maximized">
    <name>Digital Signage Player</name>
    <description>Digital Signage Cloud Platform Player for Tizen TV</description>
    <author href="http://yourdomain.com">Digital Signage Team</author>
    
    <tizen:application id="digital.signage.player" package="digital-signage-player" required_version="6.0"/>
    
    <content src="index.html"/>
    <icon src="icon.png"/>
    
    <tizen:privilege name="http://tizen.org/privilege/tv.inputdevice"/>
    <tizen:privilege name="http://tizen.org/privilege/tv.window"/>
    <tizen:privilege name="http://tizen.org/privilege/network.get"/>
    <tizen:privilege name="http://tizen.org/privilege/internet"/>
    <tizen:privilege name="http://tizen.org/privilege/application.launch"/>
    
    <tizen:setting screen-orientation="landscape" context-menu="enable" background-support="disable" encryption="disable" install-location="auto" hwkey-event="enable"/>
    
    <tizen:profile name="tv"/>
    
    <access origin="*" subdomains="true"/>
    <allow-navigation href="*"/>
    
    <tizen:content-security-policy>
        <tizen:allow-navigation href="*"/>
        <tizen:allow-intent href="*"/>
    </tizen:content-security-policy>
    
    <tizen:metadata key="http://samsung.com/tv/metadata/preload" value="true"/>
    <tizen:metadata key="http://samsung.com/tv/metadata/background-support" value="disable"/>
</widget>
