.clock-widget {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    text-align: center;
}

.clock-time {
    font-size: inherit;
    font-weight: inherit;
    color: inherit;
    line-height: 1.2;
    margin-bottom: 0.2em;
}

.clock-date {
    font-size: 0.4em;
    opacity: 0.9;
    color: inherit;
    font-weight: 300;
}
