.shape-widget {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.shape-rectangle,
.shape-circle,
.shape-ellipse {
    width: 100%;
    height: 100%;
}

.shape-line {
    align-self: center;
}

.shape-triangle {
    align-self: center;
}
