.weather-widget {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    text-align: center;
    padding: 10px;
}

.weather-main {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-bottom: 5px;
}

.weather-icon {
    width: 60px;
    height: 60px;
}

.weather-temp {
    font-size: 1.5em;
    font-weight: bold;
    color: inherit;
}

.weather-description {
    font-size: 0.6em;
    text-transform: capitalize;
    opacity: 0.9;
    margin-bottom: 5px;
}

.weather-location {
    font-size: 0.5em;
    opacity: 0.8;
}

.weather-loading,
.weather-error {
    font-size: 0.8em;
    opacity: 0.7;
}
