.webview-widget {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
}

.webview-iframe {
    width: 100%;
    height: 100%;
    border: none;
    display: block;
}

.webview-error {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    color: #ff4444;
    font-size: 14px;
    text-align: center;
    padding: 20px;
}
